<html>
  <head>
    <title>7x7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/admin.css" />
    <script src="/script3.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />

  </head>
  <body>

    <div class="button-container">
      <div class="menu">
        <a href="https://sevenbyseven.glitch.me/" class="menu" style="text-decoration: none;">
        <img
          src="https://cdn.glitch.global/9c242df3-cd11-4aa5-ab53-9653fd6e4ad4/pen-tool.svg?v=1707297449747"
        />
        <h1>Draw</h1>
           </a>
      </div>

      <div class="menu">
          <a href="https://sevenbyseven.glitch.me/archive" class="menu" style="text-decoration: none;">
        <img
          src="https://cdn.glitch.global/9c242df3-cd11-4aa5-ab53-9653fd6e4ad4/folder.svg?v=1707297449381"
        />
        <h1>Archive</h1>
            </a>
      </div>
    </div>

    <div id="rad1" class="rad">
      <div class="circle"></div>
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div id="rad2" class="rad">
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="orange"></div>
      <div class="orange"></div>
      <div class="orange"></div>
    </div>
    <div id="rad3" class="rad">
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="orange"></div>
      <div class="yellow"></div>
      <div class="orange"></div>
    </div>
    <div id="rad4" class="rad">
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="orange"></div>
      <div class="orange"></div>
      <div class="orange"></div>
    </div>
    <div id="rad5" class="rad">
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div id="rad6" class="rad">
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div id="rad7" class="rad">
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="yellow"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>

  </body>
</html>